
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --primary-color: #c62828;
  --secondary-color: #121212;
  --text-color: #ffffff;
  --accent-color: #e0e0e0;
  --font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}
